@font-face {
  font-family: Iosevka;
  src: url('iosevka-regular.woff2') format('woff2');
}

body {
  background: #0f0f13;
  font-family: "Iosevka", sans-serif;
  max-width: 100vw;
  height: 100vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f0f13;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #000000;
}
h2 {
  font-size: 4vw;
}
p {
  font-size: 2vw;
}
#title {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 5vh;
}
.description {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: right;
}
.about {
  color: white;
  background: #0f0f13;
  border-radius: 10px;
  min-width: 92%;
  max-width: 97%;
  height: 83vh;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 7% 20px 100px 20px;
  text-align: center;
  position: relative;
}
.projectstitle {
  color: white;
  background: #0f0f13;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  font-size: 1vw;
}
.projects {
  color: white;
  background: #0f0f13;
  border-radius: 10px;
  max-width: 100%;
  max-height: 400px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px 100px 20px;
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: 1vw;
}
.projects:hover {
  background-color: #000000;
}
#projectsdescription {
  color: white;
  font-family: "Iosevka", sans-serif;
  text-align: right;
  font-size: 30px;
}
