@font-face {
    font-family: Iosevka;
    src: url('/iosevka-regular.woff2') format('woff2');
}

body {
  background: #22293d;
  font-family: "Iosevka", sans-serif;
  height: 100vh;
}
#title {
  color: white;
  font-family: "Iosevka", sans-serif;
  text-align: center;
  margin-top: 5vh;
}
.subjects {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.subject {
  background: white;
  border-radius: 0px;
  margin-top: 3vh;
  margin-left: 6vw;
  margin-right: 6vw;
}
.subjectinput {
  font-family: "Iosevka", sans-serif;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.selector {
  font-family: "Iosevka", sans-serif;
  border: none;
  border-radius: 0px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;
}
.addproject {
  border-radius: 50%;
  margin-top: 3vh;
  width: 3em;
  height: 3em;
  border: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  background: white;
}
.submit {
  margin-top: 3vh;
  width: 10em;
  height: 3em;
  border: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-family: "Iosevka", sans-serif;
  color: white;
  background: #000000;
}
.submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.close {
  cursor: pointer;
  padding: 12px 16px;
}
select::-ms-expand {
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #22293d;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #000000;
}
